*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.navb{
  background: #FEF9F8;
  font-family: sans-serif;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.max-width{
  max-width: 1300px;
  padding: 5px 10px;
  margin: auto;
}
.navb .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navb .nlogo{
  width: 50px;
  height: 50px;
}
.navb .nlogo img{
  width: 100%;
  height: 100%;
}
.navb .menu li{
  list-style: none;
  display: inline-block;
}
.navb .menu li a{
color: #141850;
font-size: 18px;
font-weight: 500;
margin-left: 25px;
}
.navb .menu a:hover{
color: #ED7966;
background: none;
border-radius: 10px;
padding: 0 5px;
border: 2px solid #EF9273;
}
.menu-btn{
  color: #303179;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.home{
  display: flex;
  height: 100vh;
  color:#373773;
  min-height: 500px;
  font-family:sans-serif;
}
.home .max-width{
  margin: auto 0 auto 8%;
}
.home .home-content .text-1{
  font-size: 27px;
}
.home .home-content .text-2{
  color: #ED7966;
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3{
  display: none;
  font-size: 25px;
}
.home .home-content .text-3 span{
  font-size: 30px;
  margin: 5px 0;
  color: #303179;
  font-weight: 600;
}
.home .home-content a{
  display: inline-block;
  background: #303179;
  color: #F5CAC2;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 10px;
  margin-left: 3%;
  transition: all 0.3s ease;
}
.home .home-content a:hover{
  color: #303179;
  background: none;
  border-radius: 10px;
  border: 2px solid #ED7966;
}
section .title{
  text-align: center;
  margin: 5px 0 40px 0;
  padding-bottom: 20px;
  font-size: 40px;
  font-weight: 600;
  font-family: sans-serif;
  color: #303179;
  position: relative;
}
section .title::before{
  content: "";
  position: absolute;
}
.about, .skills{
  font-family: sans-serif;
  background: #FEF9F8;
  padding: 5%;
}
.about .about-content,
.education .edu-content,
.skills .skill-content,
.contact .contact-content
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.about .about-content .col-left{
  width: 40%;
}
.about .about-content .col-left img{
  height: 400px;
  width: 320px;
  object-fit: cover;
  border-radius: 50px;
  border: 1px solid #303179;
}
.about .about-content .col-right{
  width: 60%;
}
.about .about-content .col-right .atext{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  color:#373773;
}
.about .about-content .col-right .atext span{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  color:#373773;
  display: none;
}

.about .about-content .col-right p {
  text-align: justify;
  color:#EF9273;
  font-size: 20px;
  font-weight: 500;
}
.about .about-content .col-right a {
  display: inline-block;
  background: #303179;
  color: #F5CAC2;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.about .about-content .col-right a:hover{
  color: #303179;
  background: none;
  border-radius: 10px;
  border: 2px solid #ED7966;
}

.education {
  display: flex;
  background:  #FFFFFF;
  color:#373773;
  min-height: 700px;
  font-family:sans-serif;
}
.education .edu-content .card{
  width: calc(25% - 20px);
  text-align: center;
  background: #303179;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  align-self: normal;
}
.education .edu-content .card{
  font-size: 20px;
  color: #F5CAC2;
  transition: all 0.3s ease;
}
.education .edu-content .card:hover{
  color: #303179;
  background: none;
  border-radius: 10px;
  border: 2px solid #ED7966;
}
.education .edu-content .card .box{
  transition: all 0.3s ease;
}
.education .edu-content .card:hover .box{
  transform: scale(1.05);
}
.education .edu-content .card .text{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
.skills .skill-content .coloum{
  width: calc(32% - 30px);
}
.skills .skill-content .middle{
  display: none;
}
.skills .skill-content .text{
  color: #ED7966;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.skills .skill-content .bars{
  margin-bottom: 15px;
}
.skills .skill-content .info{
  color: #141850;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skills .skill-content .span{
  font-weight: 500;
  font-size: 18px;
}
.skills .skill-content .line{
  height: 5px;
  width: 100%;
  background: #a5a6db;
  position: relative;
}
.skills .skill-content .line::before{
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #ED7966;
}
.skill-content .html::before{
  width: 70%;
}
.skill-content .css::before{
  width: 60%;
}
.skill-content .javascript::before{
  width: 50%;
}
.skill-content .dm::before{
  width: 50%;
}

.contact{
  background:  #FFFFFF;
  font-family:sans-serif;
}
.contact .contact-content .coloum{
width: calc(50% - 50px);
}
.contact .contact-content .left{
  color: #ED7966;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .text{
  color: #ED7966;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}
.contact .contact-content .left .icon{
  margin: 10px 0;
}
.contact .contact-content .row{
  display: flex;
}
.contact .contact-content .row .info{
  margin-left: 40px;
}
.contact .contact-content .row i{
  color: #303179;
  font-size: 23px;
  cursor: pointer;
  width: 15px;
}
.contact .contact-content .info .head{
  color: #ED7966;
}
.contact .contact-content .info .sub-title{
  color: #303179;
  word-break: break-word;
}
.contact .contact-content .info .sub-title a{
  color: #303179;
}
.contact .contact-content .right form .fields{
  display: flex;
}
.contact .right .text{
  color: #ED7966;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}
.contact .right form .field,
.contact .right form .fields .field{
  height: 50px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea{
  height: 80px;
  width: 100%;
}
.contact .right form .name{
  margin-right: 10px;
}
.contact .right form .email{
  margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
  height: 100%;
  width: 100%;
  border: 1px solid #ED7966;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: sans-serif;
}
.contact .right form .textarea textarea{
  padding-top: 15px;
  resize: none;
}
.contact .right form .button{
  height: 50px;
  width: 200px;
}
.contact .right form .button button{
  width: 100%;
  height: 100%;
  background: #303179;
  color: #F5CAC2;
  font-size: 25px;
  border: 2px solid #303179;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact .right form .button button:hover{
  color: #303179;
  background: none;
  border-radius: 10px;
  border: 2px solid #ED7966;
}
.contact .right .status{
color: #ED7966;
font-size: 25px;
font-weight: 600;
margin-left: 10%;
margin-top: 1.5%;
}
.contact .right{
  display: none;
}
@media (max-width: 1380px) {
  .education .edu-content .card{
    width: calc(50% - 30px);
    margin-bottom: 20px;
  }
}

@media (max-width: 1300px) {
  .max-width{
    margin-left: 40px;
    padding: 5px 50px;
    }
    .home {
      margin-left: 40px;
   }
  .education .edu-content .card{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width: 1160px) {
  .contact .contact-content .coloum{
    width: 100%;
    margin-bottom: 20px;
  }

  .education .edu-content .card{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width:1110px){
  .about .about-content .col-left{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto 30px;
  }
  .about .about-content .col-right{
    width: 100%;
    flex: 100%;
  }
}
@media (max-width:991px){
  .max-width{
    padding: 5px 50px;
  }
  .education .edu-content .card{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .about .max-width{
    max-width: 800px;
  }

  .skills .skill-content .coloum{
  width: calc(50% - 25px);
  margin-bottom: 20px;
  }
}

@media (max-width:947px){
  .menu-btn{
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before{
    content: "\f00d";
  }
  .navb .menu{
    position: fixed;
    height: 100vh;
    width:100%;
    left:-100%;
    top:0;
    background: #FFFFFF;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
.navb .menu.active{
  left: 0;
}
  .navb .menu li{
    display: block;
  }
  .navb .menu li a{
    color:#303179;
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2{
    font-size: 70px;
  }
  .home .home-content .text-3{
    font-size: 25px;
  }
  .education .edu-content .card{
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width:690px){
  .max-width{
    padding: 2px 23px;
  }
  .home .home-content .text-2{
    font-size: 70px;
  }
  .home .home-content .text-3{
    font-size: 25px;
  }
  .education .edu-content .card{
    width: 100%;
  }
  .skills .skill-content .coloum{
    width: 100%;
    margin-bottom: 20px;
  }

}
@media (max-width:500px){
  .max-width{
    padding: 2px 23px;
  }
  .home .home-content .text-2{
    font-size: 70px;
  }
  .home .home-content .text-3{
    font-size: 25px;
  }
}
@media (min-width: 1140px) {
.home{
    background: url("../images/logo.png") no-repeat 90% 50%;
    background-size: 25%;
}
}
